<div class="animate__animated animate__fadeIn animate__faster">
  <h3>Buscar por region: <small>{{regionActiva.description | titlecase}}</small></h3>

  <hr>

  <h5>Seleccione la region</h5>

  <div class="row">
    <div class="col-12">
      <!--  FORMA 1    [class.btn-primary]="region === regionActiva"-->

      <!--   FORMA 2  [ngClass]="{-->
      <!--    'btn-primary': region === regionActiva,-->
      <!--    'btn-outline-primary': region !== regionActiva-->
      <!--    }"-->


      <!--  FORM 3   [class]="(region === regionActiva)? 'btn btn-primary' : 'btn btn-outline-primary'"-->

      <button
        *ngFor="let region of regiones"
        [class]="getClaseCss(region.code)"
        (click)="activarRegion(region)"
      >
        {{region.description | titlecase}}
      </button>
    </div>

    <div class="col-12 mt-5">
      <app-pais-tabla *ngIf="paises.length" [paises]="paises"></app-pais-tabla>
    </div>

  </div>
</div>
