/* You can add global styles to this file, and also import other style files */


html, body {
  margin: 10px;
  /*background-color: blue;*/
  background-color: var(--surface-b);
  /*font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;*/
  font-family: var(--font-family);
}


.text-layout{
  color: var(--text-color)
}
